* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .socialMediaLinks {
  font-size: 13px;
  background-color: #BC5148;
  width: 100%;
}
header .socialMediaLinks .socialMediaBox {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .socialMediaLinks .socialMediaBox i {
  margin: 15px 0px 20px 20px;
}
header .socialMediaLinks .socialMediaBox .headerActionButtons {
  width: auto;
}
header .socialMediaLinks .socialMediaBox .headerActionButtons .buttonSp {
  width: auto;
  border: none;
  background-color: #BC5148;
  padding: 15px 15px;
}
header .socialMediaLinks .socialMediaBox .headerActionButtons .buttonSp:hover {
  color: white;
}
header .socialMediaLinks .socialMediaBox .headerActionButtons .buttonLg {
  padding: 0px 15px;
  height: 45px;
  width: auto;
  border: none;
  background-color: #F4B214;
}
header .socialMediaLinks .socialMediaBox .headerActionButtons .buttonLg:hover {
  color: white;
  transition: 0.3;
}

main {
  display: flex;
  flex-direction: column;
}
main #needsCaring {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/img/slider-1.jpg);
  width: 100%;
  min-height: 100vh;
  background-size: 100%;
}
main #needsCaring .caringBox {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
main #needsCaring .caringBox .caringBoxTex {
  width: 50%;
  align-items: center;
}
main #needsCaring .caringBox .caringBoxTex span {
  font-size: 40px;
  font-family: "Sacramento", cursive;
}
main #needsCaring .caringBox .caringBoxTex h1 {
  font-weight: 900;
}
main #needsCaring .caringBox .caringBoxTex .btn {
  background-color: #BC5148;
  border: none;
  border-radius: 5px;
  padding: 13px 20px;
}
main #stepsToAdopt {
  margin-top: 20px;
  padding-bottom: 20px;
}
main #stepsToAdopt .stepsToAdoptLeft {
  width: 100%;
}
main #stepsToAdopt .stepsToAdoptRight h1 {
  margin: 20px 0px;
  font-size: 30px;
}
main #waitingChildren {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: end;
}
main #waitingChildren .waitingChildrenBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #waitingChildren .waitingChildrenBox span {
  margin: auto;
  font-size: 20px;
  width: 70%;
  margin: 20px;
  opacity: 0.7;
}
main #waitingChildren .waitingChildrenBox p a {
  width: auto;
  border: none;
  background-color: #BC5148;
  padding: 15px 15px;
  color: rgb(255, 255, 255);
  opacity: 1;
}
main #waitingChildren .waitingChildrenBox p a:hover {
  color: rgb(0, 0, 0);
}

#featured {
  background-color: #fff;
}
#featured .featured {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}
#featured img {
  width: 100%;
  height: auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  align-items: center;
  background-color: #BC5148;
}